.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 72px);
  padding-top: 72px;
}
